.h1 {
    color: red;
}

.h2 {
    color: green;
}

.h3 {
    color: blue;
}

.h4 {
    color: cyan;
}

.h5 {
    color: magenta;
}

.h6 {
    color: yellow;
}
.h1,.h2,.h3,.h4,.h5,.h6,.btn, li:hover {
    cursor: pointer;
}

.btn {
    background-color: rgb(11, 245, 11);
}
